.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading {
  margin: 0;
  text-align: center;
  background-color: #1c2041;
  color: #f4f6f7;
  padding: 0.5cm;
}

.map {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.mapBox {
  display: flex;
  flex-wrap: wrap;
}

.textInput input {
  width: 5cm;
  line-height: 0.9cm;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #1c2041;
  color: #383030;
  font-size: 23px;
}

.textInput{
  /* width: 25%; */
  background-color: #33414d;
  padding: 0 10px 10px;
}

.textInput ul {
  list-style-type: none;
  padding-left: 0;
  display: block;
}

.textInput li {
  cursor: pointer;
  border-bottom: 2px solid #1c2041;
  color: #f4f6f7;
  line-height: 1.5cm;
  font-weight: bold;
  font-size: 20px;
}

img {
  height: 100px;
   width: 100px;
}

li:focus {
  background-color: #cdc7e771;
}

li:hover {
  border-color: #d3dd43;
  color:  #d3dd43;
  cursor: pointer;
}

.error {
  color: #da3d22;
}

.sideNav {
  z-index: 1;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

/* .list-btn {
  float: right;
  display: visible;
  cursor: pointer;
} */

@media screen and (max-width: 550px) {
  .heading {
    font-size: small;
    padding: 1em;
  }

  .list-btn {
    top: 0!important;
}

.sideNav.toggled {
  width: 250px;
   }
}

@media screen and (max-width: 850px) {
  .map {
    width: 100%;
  }

  .textInput {
    position: absolute;
    z-index:2;
    max-width: 250px;
  }
  
  .hideList {
    display: none;
  }
 
  .list-btn {
    position: absolute;
    top: 10px !important;
    width: 50px;
    fill: #cabbbb;
    display: flex
  }
}