.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading {
  margin: 0;
  text-align: center;
  background-color: #1c2041;
  color: #e9f1f3;
  padding: 0.5cm;
}

.map {
  margin: 0;
  width: 75%;
  height: 100vh;
}

.mapBox {
  display: flex;
  flex-wrap: wrap;
}

.textInput input {
  width: 100%;
  line-height: 1cm;
  padding: 15px;
  border: 1px solid #6b6565;
  color: #383030;
  font-size: 20px;
}

.textInput{
  width: 25%;
  background-color: #7fa6c9
}

.textInput ul {
  list-style-type: none;
  padding-left: 0;
}

.textInput li {
  /* text-decoration: none; */
  border-bottom: 2px solid #6b6565;
  color: white;
  line-height: 1.5cm;
  font-weight: bold;
}

